div{
    width: 400px;
    height: 300px;
    background-color: aquamarine;
}
span{
    max-width: 200px;
    max-height: 400px;
    display:flex;
    align-items: center;
    justify-content:center;
}
